<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <div class="content">
      <div class="wrap">
        <form action="/login" method="POST">
          <div class="box">
            <input type="text" name="username" placeholder="输入username" />
          </div>
          <div class="box">
            <input type="text" name="password" placeholder="输入password" />
          </div>
          <div class="publish">
            <button class="W_btn">登录</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
